*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header{
    background-color: gray;
    height: 10rem;
}

.divNav{
    display: inline-block;
}
.logo{

    width: 6rem;
    display: inline-block;

}

ul{
    position: absolute;
    left: 140rem;
    top: 1rem;
}
ul li{
    display: inline-block;
    list-style: none;
    font-size: 1.5rem;
    padding: 0.4rem;
    color: ;
    
    
}